<h2>
    Tableau de Bord
</h2>
<p>
    Bienvenue sur votre interface client, <b>{{ nom|upper }}</b>.
</p>
<div class="row">
    <div class="col-md-7">
        <h3>
            <i class="fa fa-user"></i>
            Mes informations
        </h3>
        <div class="tabbable" id="tabs-458462">
            <div class="tab-content">
                <div class="tab-pane active fade in" id="panel-client">

                    <!--I'm in Section 1.-->
                    <div class="jumbotron well">

                        <a href="#panel-edit" data-toggle="tab" class="topRightCorner" ><span class="glyphicon glyphicon-edit"></span></a>

                        <div class="container">
                            <div class="row">
                                <div>
                                    <div class="media">
                                        <i class="fa fa-file-image-o pull-left imgPerso gray" aria-hidden="true"></i>
                                        <div class="media-body">
                                            <h4><span class="glyphicon glyphicon-user midIcon"></span><span class="media-heading">{{ nom }}</span></h4>
                                            <h4><span class="glyphicon glyphicon-earphone midIcon"></span><span class="media-heading">{{ numero }}</span></h4>
                                            <h4><span class="glyphicon glyphicon-envelope midIcon"></span><span class="media-heading">{{ mail }}</span></h4>
                                            <h4><span class="glyphicon glyphicon-map-marker midIcon"></span><span class="media-heading">{{ adresse }}</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade in" id="panel-edit">

                    <!--Howdy, I'm in Section 2.-->

                    <div class="jumbotron well">

                        <form class="container">
                            <div class="row">
                                <div>
                                    <div class="media">
                                        <i class="fa fa-file-image-o pull-left imgPerso gray" aria-hidden="true"></i>
                                        <div class="media-body">
                                            <h4 class="flex"><span class="glyphicon glyphicon-user midIcon"></span><input type="text" class="form-control2 form-control" id="nomClient" value="Nom Client"></h4>
                                            <h4 class="flex"><span class="glyphicon glyphicon-earphone midIcon"></span><input type="text" class="form-control2 form-control" id="phonelClient" value="04.42.50.20.20"></h4>
                                            <h4 class="flex"><span class="glyphicon glyphicon-envelope midIcon"></span><input type="email" class="form-control2 form-control" id="emailClient" value="support@exemple.com"></h4>
                                            <h4 class="flex"><span class="glyphicon glyphicon-map-marker midIcon"></span><input type="text" class="form-control2 form-control" id="addrClient" value="13, rue des oliviers 13100 - Aix-En-Provence"></h4>
                                            <h4 class="flex"><span class="glyphicon glyphicon-picture midIcon"></span><input type="file" class="form-control2 form-control" id="imgClient" value=""></h4>
                                            <button type="submit" href="#panel-client" data-toggle="tab" class="btn btn-default">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!---->
        <!--Activité -->
        <!---->

        <h3>
            <i class="fa fa-tags"></i>
            Activité
        </h3>
        <div class="jumbotron well activite">



        </div>


    </div>

    <!---->
    <!--Mon équipement-->
    <!---->

    <div class="col-md-5">
        <h3>
            <i class="fa fa-suitcase"></i>
            Mon équipement
        </h3>
        <div class="jumbotron well equipement">


            <div class="container">
                <div class="row">
                    <div>
                        <div class="media">
                            <i class="fa fa-file-image-o pull-left fa-3x gray" aria-hidden="true"></i>
                            <div class="media-body">
                                <h4 class="media-heading">Materiel 1</h4>
                                <p class="miniText"><span>N° : </span><span>M023</span></p>
                                <p class="miniText"><span>Type : </span><span>CAT3</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>